.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 100vh;
  /* background-color: rgb(215, 138, 110); */
  background-color: rgb(128, 122, 186);

  /* min-width: fit-content; */
}

.App#dark{
  background-color: rgb(29, 7, 67);
}

h1#dark{
  color: white;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}

.container{
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);

}

.container div{
  /* background-color: red; */
  border: 2px solid black;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Black:
2,4,6,8
9,11,13,15
16,18,20,22
*/
.cell-white-light{
  background-color: white;
}

.cell-black-light{
  background-color: black;
}

.cell-true-light{
  background-color: red;
}
/*  */
div .cell-move-light{
  background-color: blue;
}

/* Dark mode colors */

.cell-white-dark{
  background-color: rgb(129, 121, 121);
}

.cell-black-dark{
  background-color: black;
}

.cell-true-dark{
  background-color: rgb(121, 7, 7);
}
/*  */
div .cell-move-dark{
  background-color: rgb(9, 9, 125);
}


@media screen and (max-width: 600px) {
  .container{
    display: grid;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: repeat(8, 45px);
  
  }

  h1{
    font-size: 20px;
  }
  
}